:root {
  --cell-size: 15px;
}

* {
  box-sizing: border-box;
}

#boards-container {
  max-width: calc(var(--cell-size) * 22);
  display: flex;
  justify-content: space-between;
  gap: var(--cell-size);
  flex-wrap: wrap;
}

.board {
  width: calc(var(--cell-size) * 10);
  height: calc(var(--cell-size) * 10);
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.square {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: gray;
  border: solid 1px darkgray;
  position: relative;
}

.player-hit::after {
  position: absolute;
  content: "\00d7";
  top: -2px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
}

.miss {
  background-color: darkblue;
}

.hit {
  background-color: red;
}

.hoverable {
  cursor: pointer;
}

.hoverable:hover {
  opacity: 0.8;
}

#ships {
  max-width: calc(var(--cell-size) * 22);
  background-color: lightgray;
  padding: var(--cell-size);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

#ships > div:first-child {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(37, 173, 162, 1);
  -moz-box-shadow: 0px 0px 5px 5px rgba(37, 173, 162, 1);
  box-shadow: 0px 0px 5px 5px rgba(37, 173, 162, 1);
}

#carrier {
  height: var(--cell-size);
  width: calc(var(--cell-size) * 5);
  background-color: brown;
}

.carrier {
  background-color: brown;
}

#carrier.vertical {
  height: calc(var(--cell-size) * 5);
  width: var(--cell-size);
}

#battleship {
  height: var(--cell-size);
  width: calc(var(--cell-size) * 4);
  background-color: green;
}

.battleship {
  background-color: green;
}

#battleship.vertical {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 4);
}

#destroyer {
  height: var(--cell-size);
  width: calc(var(--cell-size) * 3);
  background-color: blue;
}

.destroyer {
  background-color: blue;
}

#destroyer.vertical {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 3);
}

#submarine {
  height: var(--cell-size);
  width: calc(var(--cell-size) * 3);
  background-color: yellow;
}

.submarine {
  background-color: yellow;
}

#submarine.vertical {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 3);
}

#patrol-boat {
  height: var(--cell-size);
  width: calc(var(--cell-size) * 2);
  background-color: purple;
}

.patrol-boat {
  background-color: purple;
}

#patrol-boat.vertical {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 2);
}

button {
  margin-block: 0.5rem;
}

.winning-message {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.winning-message.show {
  display: flex;
}
