:root {
  --cell-size: 20px;
}

* {
  box-sizing: border-box;
}

#boards-container {
  width: calc(var(--cell-size) + 12);
  display: flex;
  justify-content: space-between;
  gap: var(--cell-size);
  flex-wrap: wrap;
}

.board {
  width: calc(var(--cell-size) * 10);
  height: calc(var(--cell-size) * 10);
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.square {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: gray;
  cursor: pointer;
  border: solid 1px darkgray;
}
