* {
  box-sizing: border-box;
}

#board-container {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

.square {
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 2px;
}
